.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
}
.nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;
    gap: 24px;
    list-style: none;
    padding: 0;
}
.header-logo{
    height: 200px;
    margin: 50px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items;
}